.backdropmodal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  right: 0;
  background-color: #000000e1;
  z-index: 11;
  overflow-y: hidden;
}

.modal {
  width: clamp(20%, 450px, 70%);
  height: min(40%, 250px);
  margin: 0 auto;
  padding: 0 2rem;
  border-radius: 12px;
  z-index: 70;
  position: relative;
  top: 30%;
}

.orange-gradient {
  background: linear-gradient(10deg, #fa0, #f2f2f2);
}

.green-gradient {
  background-color: red;
}

.open-button {
  background-color: transparent;
  background: #00d41c;
  padding: 1rem;
  border-radius: 3px;
  color: white;
  font-size: 1.3rem;
}

.close-button {
  padding: 0 2rem;
  height: 2.5rem;
  font-size: 2rem;
  margin: 2rem auto 1rem 0;
  background: #101111;
  border: 1px dashed #9a9a9a99;
  color: #ffaa00;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 1px 1px 15px #03030399;
  margin: 0 auto;
}

.modal__info__wrapper {
  height: 100%;
  @include flex(center, space-around);
  flex-direction: column;
}
@media (max-width: 600px) {
  .modal {
    width: 90%;
  }
}
