.form-callbackme {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  gap: 7px;
  &__span {
    font-weight: 300;
    font-size: 1.3rem;
  }

  &__send {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  &__input {
    border: 1px solid black;
    outline: none;
  }
  &__label {
    color: black;
    border-radius: 3px;
    background-color: #ffffff;
    text-align: left;
    font-weight: 300;
    padding: 2px;
  }
}
@media (max-width: 300px) {
  .form-callbackme {
    gap: 1px;
    display: flex;
    flex-direction: column;
    &__label {
      color: black;
      border-radius: 3px;
      text-align: left;
      font-weight: 300;
      background-color: transparent;
      font-size: 1.3rem;
    }
    &__input {
      outline: none;
      border: none;
      font-size: 1.4rem;
      width: 100%;
    }
  }
}
