.footer {
  &__container {
    max-width: 1490px;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.489);
  }
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    @include flex(center, space-between);
  }
  &__list {
    flex: 1 1;
    line-height: 5rem;
  }
  &__map {
    flex: 2 1;
    img {
      width: 100%;
    }
  }
  &__date {
    font-size: 1.7rem;
    text-align: center;
    padding: 3rem 0;
    color: #fbff00;
  }
}

.list {
  &__link {
    font-size: 1.7rem;
    padding: 0.4rem 2rem;
    border-radius: 6rem;
    background-color: #0f0f0f;
    color: #fff;
  }
}
