.phones-modal {
  &__item {
    border-radius: 3px;
    background-color: #f7e4ac;
    margin-bottom: 0.2rem;
    border: 1px solid black;
    padding: 0.2rem;
    font-size: 1.5rem;
    &__span {
      font-weight: 300;
      font-size: 1.3rem;
    }
  }
  &__span {
    font-weight: 300;
    font-size: 1.3rem;
  }
}
