.wrapper__services {
	margin-top: 2rem;
}
.services__container {
	
	margin: 0 auto;
	max-width: 1490px;
	h2 {
		text-align: center;
	}
}

.services {
	position: relative;

	img {
		width: 100%;
		background-color: red;
		max-height: 450px;
	}

	&__right,
	&__left {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: rgba(145, 21, 134, 0.265);
		border-radius: 50%;
		z-index: 2;
		width: 50px !important;
		height: 50px !important;
		cursor: pointer;
	}

	&__right {
		right: 3em;

	}

	&__left {
		left: 3em;
	}

	&__description {
		position: absolute;
		top: 70%;
		left: 50%;
		width: 75%;
		transform: translateX(-50%);
		background-color: rgb(21 71 145 / 27%);
		z-index: 2;
		flex-direction: column;
		@include flex(center, center);
	}

	&__description__short {
		color: white;
		text-align: center;
		font-size: 1.3em;
	}

}