.slider__container {
  margin: 0 auto;
  max-width: 1490px;
}
.slider {
  position: relative;
  &__img {
    width: 100%;
    max-height: 450px;
    border-radius: 20px;
  }

  &__right,
  &__left {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(145, 21, 134, 0.265);
    border-radius: 50%;
    z-index: 2;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
  }

  &__right {
    right: 3em;
  }

  &__left {
    left: 3em;
  }
}
@media (max-width: 500px) {
  .about {
    &__text {
      display: none;
    }
  }
  .slider {
    &__right,
    &__left {
      display: none !important;
    }
  }
}
